#list{
	margin-top: 50px;
	position: absolute;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	width: 510px;
	background: plum;
	border-radius: 20px;
}

.service{
	width: 50px;
	height: 50px;
	background: lavender;
	border-radius: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-top: 10px
}

.icon{
	width: 50px;
}

.play{
	width: 40px;
	height: 20px;
}


#player{
	width: 510px;
	background: plum;
	border-radius: 20px;
	padding-left: 20px;
	padding-top: 10px
}

.simg{
	width: 30px;
}

#progressContainer{
	position: relative;
	margin-left: 10px;
	width: 400px;
	height: 20px;
	background: white;
}

.progress{
	height: 20px;
	background: lavender;
}

#time{
	position: absolute;
	left: 445px;
	top: 20px;
}

#timeAll{
	position: absolute;
	left: 480px;
	top: 20px;
}